.app {
  height: calc(100% - 40px);
}
.bottomBar {
  height: 40px;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
}
.sheets {
  height: 100%;
  display: flex;
  flex-grow: 1;
}
.sheets button {
  border-left: none;
  background-color: white;
  height: 100%;
}

.export-btn {
  height: 100%;
  background-color: white;
  flex-shrink: 0;
}
